@model LogicLayer.LoginModel

@{
    Layout = null;
}

<link href="~/Scripts/NewUser/css/main.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="page-wrapper font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        @*<div class="row">
                            <h2>Barangay Health Record</h2> 
                        </div>*@

                        <div class="row row-space">
                            <div style="width:100%">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @placeholder = "Username" } })
                            </div>
                        </div>
                        <br />
                        <div class="row row-space">
                            <div style="width:100%">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input--style-4", @type = "password", @placeholder = "Password" } })
                            </div>
                        </div>
                        <br /> 
                        <div class="row row-space" style="text-align:center; display:inherit">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })
                        </div>
                        <br /> 
                        <div class="row row-space" style="text-align: center; display: inline;">
                            <div>
                                <input type="submit" value="Login" class="btn btn--radius-2 btn--green" style="width:30%"/>
                                @Html.ActionLink("Create", "Index", "NewUser", null, new { @class = "btn btn--radius-2 btn--blue", @style = "text-decoration:none" })
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </body>
</html>
}